<!doctype html>
<form action="/addaction" method="post">
	<h1>what is the name of the action?</h1>
    <input type="text" name="actioname" placeholder="actioname">action name
    
    <br>
    Description:
    <input type="text" name="description" placeholder="Description">Description
    <br>

    <br>
    which type of action?
    <input type="radio" name="actype" value="point of view">point of view
    <input type="radio" name="actype" value="content">content
    <input type="radio" name="actype" value="scouths">scouths
    <input type="radio" name="actype" value="free">free

    <br>
    <input type="submit" value="Submit">
</form>